.App {
  text-align: center;
  background-color: #6565cb;
}
.me {
  background-color: #6565cb;
}

.me h1 {
  color: white;
  font-size: 40px;
  padding-top: 5%;
}
.me p {
  color: white;
  font-size: 20px;
}
.between {
  background-color: #6565cb;
}

.follower-list {
  background-color: #ff7f7f;
}
.follower-list h1 {
  color: white;
  font-size: 50px;
  padding: 5% 0%;
}

.follower-card h2 {
  color: white;
}
